//Archivo secundario para la creación de variables, con $ adelante de variables

//Tipografía

$mainFont: 'Poppins', sans-serif;

//Colores

$rose: #ae100e;
$black: #000000;
$white: #FFF;

//Tamaños de Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopLarge: 1200px;