.about .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.about .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about .content ul li {
  padding: 0 0 8px 24px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #a61612;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .about-container {
  margin: auto 0;
}

.about .video-container {
  overflow: hidden; /* Ocultar cualquier contenido que se desborde */
  border: 1px solid #ccc; /* Borde del contenedor */  
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar cualquier contenido que se desborde */
}

.about iframe {
  width: 100%;
  display: block;
}

.about p {
  color: #fff;
}
