.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ff3333;
  width: 6rem;
  height: 6rem;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 4rem;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: #151515;
}

.back-to-top:hover i {
  color: #ff3333;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}