/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 1.5rem 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
}

#header .logo {
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2rem;
  text-transform: uppercase;
}

#header .logo img {
  max-height: 4rem;
}

/*--------------------------------------------------------------
#  Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.7rem 2.5rem 0.8rem 2.5rem;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 1.4rem;
  display: inline-block;
  border: 2px solid #bc1300;
  background-color: #bc1300;
  animation: enlargeButton 3s infinite;
}

/* Se crea un fotograma clave que permiten definir momentos específicos de una animación. */
@keyframes enlargeButton {
    /* En el momento inicial */
    0% {
        /* Que no se modifique la escala del tamaño */
        transform: scale(1);
    }
    /* En el medio */
    50% {
        /* Que crezca un diez por ciento con respecto al tamaño inicial */
        transform: scale(1.1);
    }
    /* En el momento final */
    100% {
        /* Que regrese a su tamaño original */
        transform: scale(1);
    }
}

.get-started-btn:hover {
  cursor: pointer;
  background: #D03434;
  color: #fff;
  border: 0.2rem solid #D03434;
  animation: none;
}

@media (max-width: 99.2rem) {
  .get-started-btn {
    padding: 0.7rem 2rem 0.8rem 2rem;
    margin-right: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  // border-radius: 2rem;
}

.navbar a i,
.navbar a:focus i {
  font-size: 1.2rem;
  line-height: 0;
  margin-left: 0.5rem;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #FF3333;
  font-weight: bold;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 1.4rem;
  top: calc(100% + 3rem);
  margin: 0;
  padding: 1rem 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0rem 0rem 3rem rgba(127, 137, 161, 0.1);
  transition: 0.3s;
  text-align: center;
}

.navbar .dropdown ul li {
  min-width: 20rem;
}

.navbar .dropdown ul a {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  text-transform: none;
  color: #fff;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  background-color: #bc1300;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 3rem);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 136.6rem) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 5.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  padding: 1rem 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #151515;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #151515;
  background-color: #FF3333;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 1.5rem;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 1rem 2rem;
  padding: 1rem 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 3rem rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 20rem;
}

.navbar-mobile .dropdown ul a {
  padding: 1rem 2rem;
  color: #151515;
}

.navbar-mobile .dropdown ul a i {
  font-size: 1.2rem;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  background-color: #FF3333;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
